@import "../../assets/main";

body {
  margin: 0;
  padding: 0;
}

.header__top {
  display: flex;
  justify-content: space-between;
  padding: 50px 38px 40px 67px
}

.logo {
  display: flex;
  align-items: center;

  &__text-wrapper {
    margin: 0 0 0 17px;
  }

  &__title {
    font-family: $Proxima_bold;
    text-transform: uppercase;
    font-size: 24px;
    color: #181818;
    margin: 0;
  }

  &__description {
    font-family: $Proxima;
    font-size: 16px;
    color: #7B7B7B;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  background: $orange;
  border-radius: 30px;

  &__title {
    font-family: $Proxima_bold;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
  }

  &__divider {
    width: 1px;
    height: 25px;
    background: #fff;
    margin: 0 37px 0 13px;
  }

  &__title_cart {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 18px;
      height: 18px;
      background: url("images/cart.png");
      left: -24px;
    }
  }
}

.divider {
  margin: 0;
  background: #F7F7F7;
  width: 100%;
  height: 1px;
}

.link {
  text-decoration: none;
}

.admin {
  padding: 5px 10px;
  margin: 0 0 5px 0;
  font-family: $Proxima;
  font-size: 16px;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  transition: 200ms ease;

  &:hover {
    color: #fff;
    background: #333;
  }
}

@media screen and (max-width: 639px){
  .header__top{
    flex-direction: column;
    align-items: center;
    padding: 50px 30px 40px 40px;
  }

  .logo {
    margin: 0 0 30px 0;
  }
}