@font-face {
  font-family: 'Proxima Nova bold';
  src: url("fonts/Proxima_Nova_bold.otf");
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("fonts/Proxima_Nova.ttf");
}

$Proxima_bold: 'Proxima Nova bold';
$Proxima: 'Proxima Nova';
$orange: #EB5A1E;