@import "../../assets/main";

.filters-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 48px 0 67px;
}

.pizza-filter {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    display: inline-block;
    margin: 0 9px 0 0;
    padding: 14px 25px 16px 25px;
    font-family: $Proxima_bold;
    font-weight: 700;
    font-size: 16px;
    color: #2C2C2C;
    background: #F9F9F9;
    border-radius: 30px;

    &_active {
      color: #fff;
      background: #282828;
    }
  }
}

.sorting-filter {
  position: relative;

  &__title {
    font-family: $Proxima_bold;
    font-weight: 700;
    font-size: 14px;
    color: #2C2C2C;
  }

  &__value {
    font-family: $Proxima;
    font-weight: 400;
    color: $orange;
    border-bottom: 1px dotted $orange;
  }

  &__item {
    font-family: $Proxima;
    font-size: 14px;
    color: #000;
    padding: 10px 0 10px 14px;

    &_active {
      font-family: $Proxima_bold;
      font-weight: 700;
      color: $orange;
      background: rgba(254, 95, 30, 0.05);
    }
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    width: 132px;
    position: absolute;
    top: 30px;
    right: 0;
    padding: 13px 0;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.09);

  }
}
